.Report{
    align-items: center;
    align-content: center;
}

.Header{
    margin:25px auto;
    font-size: x-large;
    
}

.TableDiv{
    margin-left: 12%;
    width:75%;
    margin-top: 50px;
}

td{
    text-align: center;
}

tr{
    text-align: center;
}